mixin navigation()
  .header__navigation
    +navigation-item({
      svg: 'Ellipse.svg',
      text: 'ABOUT US'
    })
    +navigation-item({
      svg: 'Ellipse.svg',
      text: 'PROJECTS'
    })
    +navigation-item({
      svg: 'Ellipse.svg',
      text: 'NEWS'
    })
    +navigation-item({
      svg: 'Ellipse.svg',
      text: 'CONTACT'
    })