mixin social()
  .social__wrapper
    +social-item({
      href: "https://www.facebook.com",
      svg: 'f1.svg'
    })
    +social-item({
      href: "https://twitter.com",
      svg: 't1.svg'
    })
    +social-item({
      href: "https://www.instagram.com",
      svg: 'i11.svg'
    })
