// Section
section {
  padding: 130px 0;
}

// Banner Blog
.banner__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
  @include media("<=desktop") {
    // flex-direction: column;
    // transition: 0.3s all;
  }
}
.banner__img {
  width: 100%;
  max-width: 540px;
  img {
    width: 100%;
  }
}
.banner__text {
  width: 100%;
  max-width: 540px;
  .banner__text-tech {
    margin-top: 50px;
  }
  h2 {
    margin-top: 25px;
  }
  time {
    margin-top: 15px;
    display: block;
  }
}
.banner__text {
  &-tech,
  time {
    color: $c-gray78;
    line-height: 26px;
    letter-spacing: 0.1em;
  }
  h2 {
    color: $c-black;
    font-size: $fs-24;
    line-height: 38px;
    font-family: $RHD;
  }
  &-content {
    margin-top: 50px;
    line-height: 28px;
    letter-spacing: 0.1em;
  }
  &-figures {
    margin-top: 95px;
    a {
      color: $c-black;
      line-height: 28px;
      letter-spacing: 0.1em;
      margin-right: 25px;
      text-decoration: none;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $c-gray;
      }
    }
  }
}
// FORM
.form__item {
  width: 100%;
  max-width: 540px;
  display: flex;
  align-items: baseline;
  margin-top: 115px;
  label {
    margin-right: 40px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $c-black;
  }
  select {
    width: 100%;
    max-width: 415px;
    border: none;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $c-gray;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    // position: relative;
  }
  span {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 12px;
    color: red;
  }
  &-select {
    position: relative;
    width: 100%;
  }
}

.hidden {
  display: none;
}

// Section-img

.section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.section__item {
  &-img {
    width: 100%;
    max-width: 540px;
  }
  &:nth-child(2n + 1) {
    margin-top: 125px;
  }
  &:nth-child(2n) {
    margin-top: 125px;
  }
  img {
    width: 100%;
  }
  &-description {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    width: 100%;
    max-width: 540px;
    margin-top: 25px;
    min-height: 115px;
    font-size: $fs-24;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: $c-black;
    font-family: $RHD;
  }
  &-text {
    width: 100%;
    max-width: 540px;
    line-height: 28px;
    letter-spacing: 0.05em;
    margin-top: -15px;
  }
  span,
  time {
    color: $c-gray78;
    font-size: $fs-12;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}
// Section-button
body .blog {
  display: block;
  padding: 8px 45px;
  margin: 70px auto 0;
  width: 180px;
  background-color: $c-gray;
  img {
    display: none;
  }
}
