@mixin flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin position-fixed {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
}
