mixin about()
  section
    .container
      .about__wrap
        .about__left
          h1 About 
          .about__left-text 
            span I’m Manifest 
            span Full-time UI/UX designer
            span Head of Design at VeronaLabs.com
          .about__left-img
            img(src="/assets/Img.jpg")
        .about__right
          p I was born in January 1990. After getting my Degree in computer science in 2002, I persuaded my higher study in Human Computer Interaction Design. I got my first job as Graphic Designer in the year 2008. After getting experience in graphic for a year, I moved to UI-UX Designing. 
          br
          p In 2010, I decided to work as a Freelance Web, UI-UX & Mobile Interface Designer. I find myself still in the learning phase and have strong desire to achieve as many skills as I can.
          +button