mixin comments-monika()
  h3 Comments
  .comments__wrap
    .comment__item
      .comment__page
        .comment__img
          img(src="./assets/scarlet.jpg")
        .comment__text
          .comment__name
            h4 Scarlet withch
            .comment__name-time 6 May, 2020
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          .comment__reply
            .comment__reply-img
            
      .comments__p