mixin footer-navigation()
  nav.navigation
    ul.navigation__list
      li.navigation__item
        a.navigation__link
          span Facebook
      li.navigation__item
        a.navigation__link
          span Instagram
          .navigation__line
      li.navigation__item
        a.navigation__link
          span Dribbble
      li.navigation__item
        a.navigation__link
          span Linkedin 
