mixin header()
  header
    .header-fixed  
      .container
        .header__wrap
          .header__logo
            +logo
          .header__nav
            +header-navigation
            +button-header

