mixin header-navigation()
  nav.navigation
    ul.navigation__list
      li.navigation__item
        a.navigation__link
          span HOME
      li.navigation__item.active 
        a.navigation__link
          span ABOUT
      li.navigation__item
        a.navigation__link
          span WORKS
      li.navigation__item
        a.navigation__link
          span BLOG
      li.navigation__item
        a.navigation__link
          span CONTACT
      