mixin section()
  section
    .container
      h1 Blog
      .banner__wrap
        .banner__img
          img(src="../../assets/baner.jpg")   
        .banner__text
          span Technology, Interface Design
          h2 Using UX Design to Build a Sustainable Future
          date 6 May, 2020
          .banner__text-content            Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
          img(src="../../assets/Arrow2.svg")
          .banner__text-figures
            span 1
            span 2
            span 3