mixin single()
  .single__wrap
    .container
      .using__wrap
        .using__subtitle Technology, Interface Design
        h1 Using UX Design to Build a
          br
          | Sustainable Future
        .using__comments
          .using__comments-date 6 May, 2020
          .using__comments-comment 
            img(src="./assets/using.svg")
            | 8 comments  
        .single__baner
          img(src="./assets/single-baner.jpg")
        .monika__wrap
          aside
            .aside__aside.share-links
              .aside__aside-logo
                img(src="./assets/asside1.svg")
              .aside__aside-logo
                img(src="./assets/asside2.svg")
              .aside__aside-logo
                img(src="./assets/asside3.svg")
              .aside__aside-logo
                img(src="./assets/asside4.svg")
          .monica__content
            .monica__blok
              .monica__blok-foto
                 img(src="./assets/monika.jpg")
              .monica__blok-name
                span Monica Geller
            p Transformation has to be driven                     everybody, not just by climate groups, and we have a responsibility to use our influence to drive this. Overwhelming evidence points to the fact that we have about a decade to combat climate change caused by human activity before irreversible damage is caused. It is the biggest crisis of our generation.
            br
            p Can UX Designers Do?
            br
            p Firstly, on a broader scale, influence is held by people who work in tech, economically, socially and politically. People follow and listen to what happens in the world of tech. We need to take advantage of this to highlight important issues and create awareness around the environmental impact of tech. 
            blockquote 
              p “UX designers are in a unique position to create tools with sustainability at their heart by streamlining user workflows, minimizing information overload, and removing potential distractions that keep users from accomplishing tasks they set out to do.”
              br
              span ‘Designing For Sustainability, Tim Frick, 2014'
            p Most of the Internet is unsustainable, so there is an opportunity to make a very real and lasting impact through our work. The following are some ideas for ways in which UX designers can play their part in managing this global crisis.
            ul.monika__list 
              li Ask if the product is solving a real-world problem?
              li Use content strategy to offer choices to customers choices.
              li When considering fonts, stick to two font types and reduce the typeface.  
            .targs__blok
              h3 Tags:
              span Technology, Interface Design, Visual Design
            .monica__line
            h2 Leave a Reply
            .monica__leave Required fields are marked *
            +form-monika 
            +comments-monika

  
















