@import "global";
@import "fonts";

$c-black: #16133d;
$c-gray: #7690a8;
$c-white: #f2f2f2;
$c-green: #3db370;

/* css for home page */
.header-home {
  background: rgb(26, 6, 6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  a {
    color: $c-white;
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;
  }
}
h1 {
  margin: 0;

}
.header__nav {
  margin-right: 20px;
  font-size: 12px;
  a:first-child {
    margin: 0;
  }
}
.header__lesson {
  color: $c-white;
  font-size: 20px;
}
/* section */
.section__wrap {
  width: 100%;
  max-width: 1155px;
  margin: 40px auto 70px auto;
}
/* section logo */
.section__logo {
  height: 80px;
  border-bottom: 1px solid $c-white;
}
.container {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0 10px;
}
.logo__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* img svg */
.logo__name {
  margin-left: 20px;
}
.logo__title {
  font-family: $Quicksand;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  color: $c-black;
}
/* services */
.services {
  margin-top: 55px;
}
.services__title {
  color: $c-gray;
  font-size: 16px;
  line-height: 21px;
}
/* experience */
.experience {
  margin-top: 20px;
}
.experience__title {
  font-family: $NunitoSans;
  color: $c-black;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
}
/* item__blocks */
.item__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 35px;
}
.block__item {
  margin-right: 40px;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  padding: 40px 45px 45px 40px;
  transition: all 0.3s;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border: 1px solid $c-green;

    svg path {
      stroke: $c-green;
    }
  }
}
.item__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
}
.item__title {
  margin-top: 30px;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
}
.item__text {
  margin-top: 15px;
}
.item__link {
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;

  a {
    text-decoration: none;
    padding: 5px;
    color: $c-black;
  }
  span:hover {
    color: $c-green;
  }
}
/* footer  */
.footer__wrap {
  width: 100%;
  background: $c-black;
  padding: 35px 0 45px 0;
}
.footer__content {
  display: flex;
}
.logo__title--white {
  color: $c-white;
}
.footer__icons {
  display: flex;
  margin-top: 40px;
}
.footer__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: all 0.3s;
  &:hover {
    stroke: $c-green;
  }
  &:last-child {
    margin: 0;
  }
}
