body {
  font-size: 25px;
  color: rgb(99, 99, 134);
}

header {
  text-align: center;
}

p a,
em {
  color: rgb(87, 23, 23);
}

li a{
  /* color: rgb(99, 99, 134);   */
}
li a:hover{
  color: blueviolet;
  font-size: 30px;
}
span{
  font-size: 18px;
}