* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* css for body */
body {
  font-size: 25px;
  color: rgb(99, 99, 134);
}
/* css for header */
header {
  text-align: center;
}
/* link in paragraph */
p a,
em {
  color: blueviolet;
}
/* MAIN PART */
main {
  margin: 50px;
}
/* link in the list */
li a {
  color: rgb(21, 148, 32);
}
/* color when referenced */
li a:hover {
  color: blueviolet;
}
/* font size span */
li span {
  font-size: 18px;
}
/*footer*/
/* fonts */
footer {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  width: 100%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  width: 100%;
  max-width: 800px;
  height: 60px;
  color: white;
  font-style: italic;
}