/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variable */
/* fonts */
:root {
  --ffr-roboto: "Roboto", sans-serif;
  --ffpts-PTSans: "PT Sans", sans-serif;
}
/* header */
/* fonts */
body {
  font-family: var(--ffr-roboto);
}
.home {
  width: 100%;
  background: rgb(26, 6, 6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.home a {
  color: rgb(220, 212, 230);
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}
.nav {
  margin-right: 20px;
  font-size: 12px;
}
.nav a:nth-child(1) {
  margin: 0;
}
.lesson {
  color: aliceblue;
  font-size: 20px;
}
/* main */
main {
  min-height: 100%;
}
.main-wrap {
  height: 75px;
}
.main-cont {
  display: flex;
  justify-content: space-between;
}
/* section nav */
.main-up {
  width: 100%;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation-logo {
  margin-right: 40px;
}
.navigation-items a:nth-child(1) {
  margin-right: 5px;
}
.navigation-items span {
  margin-right: 10px;
}
.navigation-items a {
  text-decoration: none;
}
.navigation-logo-end {
  margin: 15px 35px 0 0;
}
/* section-left */
.main-left {
  position: relative;
}
.left-container {
  position: sticky;
  top: 75px;
  display: flex;
  flex-direction: column;
}
.left-container-one {
  height: 105px;
  margin: 0 40px;
}
.left-container-two,
.left-container-three,
.left-container-four {
  height: 140px;
  margin: 0 40px;
}
.left-container a {
  text-transform: uppercase;
  text-decoration: none;
}
.left-container-one span:nth-child(1) {
  font-size: 70%;
  vertical-align: top;
  margin-right: 10px;
}
.left-container-two span:nth-child(1) {
  font-size: 70%;
  vertical-align: top;
  margin-right: 10px;
}
.left-container-three span:nth-child(1) {
  font-size: 70%;
  vertical-align: top;
  margin-right: 10px;
}
.left-container-four span:nth-child(1) {
  font-size: 70%;
  vertical-align: top;
  margin-right: 10px;
}

.line1 {
  width: 100%;
  border: 1px solid #bfbfbf;
}
/* sectoin text */
.main-down {
  width: 640px;
}
.main-text-one p {
  letter-spacing: 0.04em;
  font-family: var(--ffr-roboto);
}
h2 {
  text-transform: uppercase;
  font-family: var(--ffpts-PTSans);
}
.main-text-one h2::first-letter {
  font-size: 15px;
  vertical-align: top;
}
a {
  font-family: var(--ffr-roboto);
  color: #000000;
}
.text {
  background: #c9c9c9;
}
/* main-image */
.main-image {
  width: 300px;
  height: 300px;
  background: rgb(190, 150, 150);
position: fixed;
bottom: -30px;
right: -30px;
}
/*footer*/
/* fonts */
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: var(--ffr-roboto);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  width: 100%;
  max-width: 800px;
  height: 60px;
  color: white;
  font-style: italic;
}
