mixin header()
  header
    .header__wrap
      .container
        .header__header
          .header__logo
            +logo
          .header-navigation
          +social
        h1 SIMPLE & MODERN   
        h5 WE MAKE THE WORLD BEAUTIFUL EVERYDAY     
        +arrow

