mixin header-navigation()
  nav.navigation
    ul.navigation__list
      li.navigation__item
        a(href="#" class="navigation__link")
          span HOME
      li.navigation__item
        a(href="#" class="navigation__link")
          span ABOUT
      li.navigation__item
        a(href="#" class="navigation__link")
          span WORKS
      li.navigation__item
        a(href="#" class="navigation__link")
          span BLOG
      li.navigation__item
        a(href="#" class="navigation__link")
          span CONTACT
      