.header {
  color: aqua;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 0;
  background-color: rgba($color: yellow, $alpha: 0.3)
  ;
}
h1 {
  text-align: center;
  color: blue;
}