//- Components

include ./dev/Components/header
include ./dev/Components/header-secondary
include ./dev/Components/services
include ./dev/Components/footer



//- Elements

include ./dev/Elements/logo
include ./dev/Elements/service-item
include ./dev/Elements/svg-elements

//- Page
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title PUG
		link(rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
		link(rel="stylesheet" href="./style/scss/index.css")
	body
		+svg-elements()
		+header()
		section
			.section__wrap
				+header-secondary()
				+services()
		footer
			.footer__wrap
				+footer()

