//- Components

include ./dev/Components/header
include ./dev/Components/header-secondary
include ./dev/Components/services
include ./dev/Components/footer



//- Elements

include ./dev/Elements/logo
include ./dev/Elements/service-item
include ./dev/Elements/svg-elements

//- Page
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" href="./../../images/favicon.ico" type="image/x-icon")
		title Система компонування в CSS (CSS Grid Layout)
		link(rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
		link(rel="stylesheet" href="./style/scss/index.css")
	body
		//- +svg-elements()
		+header()
		maim
			.container
				.architectural__wrap
					h1 Architectural Photography
					.architectural__grid-container
						.item.architectural__item1
							img(src='./assets/Architectural1.jpg')
							.item__fon
							.author__wrap
								.author__name Jezael Melgoza
								.author__date 5 June 2020
						.item.architectural__item2
							img(src='./assets/Architectural2.jpg')
							.item__fon
							.author__wrap
								.author__name Tom W
								.author__date 30 March 2021
						.item.architectural__item3
							img(src='./assets/Architectural3.jpg')
							.item__fon
							.author__wrap
								.author__name Johan Mouchet
								.author__date 14 August 2019
						.item.architectural__item4
							img(src='./assets/Architectural4.jpg')
							.item__fon
							.author__wrap
								.author__name Federico Di Dio
								.author__date 29 October 2020  
						.item.architectural__item5
							img(src='./assets/Architectural5.jpg')
							.item__fon
							.author__wrap
								.author__name Casey Horner
								.author__date 9 July 2021
						.item.architectural__item6
							img(src='./assets/Architectural6.jpg')
							.item__fon
							.author__wrap
								.author__name Alexander Rotker
								.author__date 22 April 2022
				.still_wrap
					h1 Still Life Photography
					.still__grid-container
						.item.still__item1
							img(src='./assets/still1.jpg')
							.item__fon
							.author__wrap
								.author__name Robert Lukeman
								.author__date 30 June 2020
						.item.still__item2
							img(src='./assets/still2.jpg')
							.item__fon
							.author__wrap
								.author__name Sean Oulashin
								.author__date 5 September 2019
						.item.still__item3
							img(src='./assets/still3.jpg')
							.item__fon
							.author__wrap
								.author__name John Fowler
								.author__date 10 August 2021
						.item.still__item4
							img(src='./assets/still4.jpg')
							.item__fon
							.author__wrap
								.author__name Dave Hoefler
								.author__date 13 February 2021
						.item.still__item5
							img(src='./assets/still5.jpg')
							.item__fon
							.author__wrap
								.author__name Léonard Cotte
								.author__date 5 September 2019
						.item.still__item6
							img(src='./assets/still6.jpg')
							.item__fon
							.author__wrap
								.author__name Rob Mulally
								.author__date 30 May 2020
				.portrait_wrap
					h1 Portrait and Fashion Photography
					.portrait__grid-container
						.item.portrait__item1
							img(src='./assets/portrait1.jpg')
							.item__fon
							.author__wrap
								.author__name Pooja Chaudhary
								.author__date 30 June 2020
						.item.portrait__item2
							img(src='./assets/portrait2.jpg')
							.item__fon
							.author__wrap
								.author__name Dom Hill
								.author__date 13 October 2021
						.item.portrait__item3
							img(src='./assets/portrait3.jpg')
							.item__fon
							.author__wrap
								.author__name Seth Doyle
								.author__date 30 May 2020
						.item.portrait__item4
							img(src='./assets/portrait4.jpg')
							.item__fon
							.author__wrap
								.author__name devn
								.author__date 30 June 2020
						.item.portrait__item5
							img(src='./assets/portrait5.jpg')
							.item__fon
							.author__wrap
								.author__name Noah Buscher
								.author__date 13 February 2021
						.item.portrait__item6
							img(src='./assets/portrait6.jpg')
							.item__fon
							.author__wrap
								.author__name Sincerely Media
								.author__date 7 January 2021
						.item.portrait__item7
							img(src='./assets/portrait7.jpg')
							.item__fon
							.author__wrap
								.author__name Seth Doyle
								.author__date 30 June 2020
						.item.portrait__item8
							img(src='./assets/portrait8.jpg')
							.item__fon
							.author__wrap
								.author__name Melissa Askew
								.author__date 29 April 2021
						.item.portrait__item9
							img(src='./assets/portrait9.jpg')
							.item__fon
							.author__wrap
								.author__name Brooke Cagle
								.author__date 5 August 2019
						.item.portrait__item10
							img(src='./assets/portrait10.jpg')
							.item__fon
							.author__wrap
								.author__name Clem Onojeghuo
								.author__date 1 July 2021
		footer
			//- .footer__wrap
			//- 	+footer()
