/* variables */
:root {
  --c-gray: #2b81ac;
  --c-blue: #3399cc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--c-gray);
  padding: 15px;
}
/* main */
section {
  width: 100%;
  height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-blue);
}
.main-wrap {
  width: 100%;
  max-width: 540px;
  font-size: 0;
}
.main-wrap:hover .main-item {
  opacity: 0.4;
}

ul {
  padding: 0;
  margin: 0;
}
.main-item {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  border: 3px solid white;
  border-bottom: 0;
  border-right: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.main-wrap .main-item:hover {
  opacity: 1;
}
span {
  font-size: 16px;
  line-height: 19px;
  color: white;
  letter-spacing: 0.05em;
}
img {
  font-size: 21px;
}
i {
  font-size:23px ;
  margin-top: 5px;
}
/* City */
.lisbon {
  width: 50%;
}
.paris {
  width: 25%;
  background-color: #33cccc;
}
.belgrade {
  width: 25%;
  background-color: #996699;
  border-right: 3px solid white;
}
.venice {
  width: 25%;
  background-color: #c24747;
}
.tel {
  width: 25%;
  background-color: #e2674a;
}
.kyiv {
  width: 25%;
  background-color: #ffcc66;
}
.amsterdam {
  width: 25%;
  background-color: #99cc99;
  border-right: 3px solid white;
}
.tokyo {
  width: 25%;
  background-color: #669999;
}
.san {
  width: 50%;
  background-color: #cc6699;
}
.sydney {
  width: 25%;
  background-color: #339966;
  border-right: 3px solid white;
}
.new {
  width: 100%;
  background-color: #666699;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
