/* variables */
:root {
  --c-gray: #2b81ac;
  --c-blue: #3399cc;
}
 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--c-gray);
  padding: 15px;
}
/* main */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-blue);
}
.main-wrap {
  width: 100%;
  max-width: 540px;
  font-size: 0;
  height: 10px;
}
.main-item {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  border: 3px solid white;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}
span {
  font-size: 16px;
  line-height: 19px;
  color: white;
  letter-spacing: 0.05em;
}
.lisbon {
  width: 50%;
}
.paris {
  width: 25%;
  background-color: #33cccc;
}
.belgrade {
  width: 25%;
  background-color: #996699;
}
.venice {
  width: 25%;
  background-color: #c24747;
}
.tel {
  width: 25%;
  background-color: #e2674a;
}
.kyiv {
  width: 25%;
  background-color: #ffcc66;
}
.amsterdam {
  width: 25%;
  background-color: #99cc99;
}
.tokyo {
  width: 25%;
  background-color: #669999;
}
.san {
  width: 50%;
  background-color: #cc6699;
}
.sydney {
  width: 25%;
  background-color: #339966;
}
.new {
  width: 100%;
  background-color: #666699;
}
