mixin button-header()
  button(type="button" name="button").button-header
    img(src="./assets/Icon.svg" alt="Icon")
  .header__burger
    button(type="button" name="button").button-header.burger 
      span
      span
      span