mixin section-img(arguments)
  .section__item
    .section__item-img 
      img(src='./assets/'+arguments.img)
    .section__item-description
       span= arguments.span
       time 8 June, 2020 
    h2= arguments.h2   
    .section__item-text= arguments.text 
