mixin header()
  .header-home
    a(href="./../../index.html" target="_blank" title="Home page") Beetroot Homework
    .header__lesson
      span lesson - Робота з пре- і постпроцесорами
    nav.class="header__nav"
      a(href="mailto:tarasmash74@gmail.com") напиши мені
      a(href="tel:+380503735401") позвони мені
      a(href="../lesson_2/index.html") про мене