mixin services()
  .services
    h2.services__title OUR SERVICES
  <!-- experience -->
  .experience
    .experience__title We build experience
  <!-- item__blocks -->
  .item__blocks
    <!-- block__design -->
    +service-item({
      title:'Design', 
      text:'Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .',
      icon:'service-icon-1'
    })
    +service-item({
      title:'Ecommerce', 
      text:'Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .',
      icon:'service-icon-2'
    })
    +service-item({
      title:'Application', 
      text:'Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .',
      icon:'service-icon-3'
    })
    