footer {
  padding: 200px 0 230px 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 550px;
  background-image: url("../assets/footer.jpg");
  background-position: right;

  @include media("<=phone") {
  padding: 100px 0 115px 0;
  height: auto;
  }


}

.footer {
  &__wrapper {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include media("<=phone") {
      flex-direction: column;
      margin-left: 20px;
      max-width: 200px;
    }

  }

  &__logo {
    width: 100%;
    max-width: 240px;

    span {
      display: inline-block;
      color: $c-white;
      font-size: $fs-14;
      line-height: 17px;
      margin-top: 40px;
    }
  }
}