.form {
  &__wrapper {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 0 70px 0;
    background: $c-white;
    width: 100%;
    max-width: 770px;
    height: 450px;
  }

  &__block {
    display: flex;
    margin-top: 40px;

    @include media("<=tablet") {
      margin-top: 20px;
    }
  }

  &__block-left {
    width: 100%;
    margin-right: 40px;

    @include media("<=tablet") {
      margin-right: 20px;
    }
  }

  &__svg {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  &__block-right {
    width: 100%;

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $c-grey;
      opacity: 0.5;
      height: 40px;
      outline: none;
      padding: 0 5px 10px 5px;

      @include media("<=desktop") {
        font-size: 18px;
      }

      &:focus {
        opacity: 1;
        border: none;
        border-bottom: 1px solid $c-grey;
      }

      &:last-child {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

form {
  .form__item {
    position: relative;
    margin-bottom: 30px;



    .form-error {
      position: absolute;
      left: 0;
      top: 100%;
      font-size: $fs-12;
      color: red;
    }
  }
}

.hidden {
  display: none;
}

// Block Contacts
.form__contacts {
  display: flex;
  margin-bottom: 30px;

  span {
    @include media("<=desktop") {
      font-size: 18px;
    }

    @include media("<=tablet") {
      font-size: 16px;
    }
  }

  &-contact {
    span {
      white-space: nowrap;
    }
  }

  &:last-child {
    margin: 0;
  }
}

// BUTTON
.form__wrapper-button {
  display: flex;
  justify-content: flex-end;
}