.gallery {
  &__wrapper {
    padding: 140px 0;

    @include media("<=desktop") {
      padding: 70px 0;
    }
  }

  &__block {
    margin-top: 90px;
    display: flex;
    align-items: stretch;

    @include media("<=desktop") {
      margin-top: 50px;
      flex-direction: column;
    }

    &-left {
      width: 100%;
      max-width: 580px;
      margin-right: 10px;
      height: initial;

      @include media("<=desktop") {
        max-width: 100%;
        margin-bottom: 5px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-right {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 10px;

      img {
        width: calc(50% - 5px);
        // max-width: 285px;
        // max-height: 214px;

      }
    }
  }
}

// button
.gallery__wrapper button {
  margin: 40px auto 0 auto;

  span {
    padding: 15px 55px;

    @include media("<=desktop") {
      padding: 10px 20px;
      font-size: 10px;
      line-height: 13px;
    }
  }
}