.news {
  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    // background-image: url("/lessons/lesson_39/assets/news-background.jpg");
    background-image: url("../assets/news-background.jpg");

    max-height: 1035px;
    padding-top: 135px;
    padding-bottom: 200px;
    min-width: 0;

    .container {
      position: relative;
    }

    h2 {
      color: $c-white;
      margin-top: 30px;
      text-align: center;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    // margin-top: 90px;
  }

  &__item {
    background-color: $c-white;
    width: 100%;
    // max-width: 370px;

    &-content {
      padding: 30px 20px;
    }

    div {
      font-family: $ff-sans;
      font-size: $fs-18;
      line-height: 25px;
    }
  }

  &__author {
    margin: 40px 0 30px 20px;
    display: flex;

    img {
      max-width: 60px;
      max-height: 60px;
      border-radius: 60%;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;

    span {
      font-size: $fs-14;
      line-height: 17px;
      color: $c-laguna;
      margin-top: 5px;
    }
  }
}

.news__item-title div {
  @include media("<=desktop") {
    font-size: 16px;
    line-height: 23px;
  }

  @include media("<=tablet") {
    font-size: 14px;
    line-height: 21px;
  }
}

.white {
  border: 1px solid $c-white;

}

// swiper
.mySwiper {
  margin-top: 90px;
}

.news__wrapper {
  & .swiper-button-prev {
    left: -90px;
    width: 40px;
    height: 40px;

    @media (max-width: 1199px) {
      left: -40px;
    }

    &::after {
      content: '';
      position: absolute;
      background: url(../assets/Right.svg);
      width: 100%;
      height: 100%;
    }
  }

  & .swiper-button-next {
    right: -90px;
    width: 40px;
    height: 40px;

    @media (max-width: 1199px) {
      right: -40px;
    }

    &::after {
      content: '';
      transform: rotate(180deg);
      position: absolute;
      background: url(../assets/Right.svg);
      width: 100%;
      height: 100%;
    }
  }


  & .swiper-pagination {
    position: relative;
    top: 0;
    margin-top: 50px;

    .swiper-pagination-bullet {
      border: 1px solid $c-white;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      background-color: transparent;
      transition: all 0.3s;

      &:hover {
        background-color: $c-white;
        opacity: 0.6;
      }

      &:active {
        background-color: $c-white;
      }

      &-active {
        background-color: $c-white;
      }
    }

  }
}

.news__item.swiper-slide {
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@include media("<=screen") {
  .news__wrapper.item-slider-news {
    margin-left: 10px;
    margin-right: 10px;
  }
}