//- Components

include ./dev/Components/header
include ./dev/Components/header-navigation
include ./dev/Components/about
include ./dev/Components/footer
include ./dev/Components/footer-navigation

//- Elements

include ./dev/Elements/logo
include ./dev/Elements/button

//- Page
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title PUG
		link(rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
		link(rel="stylesheet" href="./style/scss/index.css")
	body
		+header
		+about
		+footer