mixin navigation()
  nav.navigation
    .navigation__wrapper
      ul.navigation__list
        li.navigation__item 
          a(target="_blank" href="#").navigation__link Головна
        li.navigation__item 
          a(target="_blank" href="#").navigation__link Контакти
        li.navigation__item 
          a(target="_blank" href="#").navigation__link Галерея