.arrow__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  border: 1px solid $c-white;
  border-radius: 50%;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}