.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 515px;
  height: 20px;
  margin-left: 140px;
  margin-right: 110px;
}

.navigation {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__circle {
    width: 10px;
    height: 10px;
    border: 1px solid $c-white;
    border-radius: 50%;
    margin-right: 15px;
    &-activ {
      background-color: $c-white;
    }
  }

  span {
    padding: 5px;
    color: $c-white;
    font-size: $fs-14;
    line-height: 18px;
    font-family: $ff-source;
    white-space: nowrap;
  }
}