mixin navigation()
  .header__navigation
    nav(class="navigation")
      ul(class="navigation__list")
        li(class="navigation__item")  
          a(class="navigation__link")
            .navigation__circle
            span ABOUT US
        li(class="navigation__item")  
          a(class="navigation__link")
            div(class="navigation__circle")
            span PROJECTS
        li(class="navigation__item")  
          a(class="navigation__link")
            .navigation__circle
            span NEWS
        li(class="navigation__item")  
          a(class="navigation__link")
            .navigation__circle
            span CONTACT         
    //- +navigation-item({
    //-   svg: 'Ellipse.svg',
    //-   text: 'ABOUT US'
    //- })
    //- +navigation-item({
    //-   svg: 'Ellipse.svg',
    //-   text: 'PROJECTS'
    //- })
    //- +navigation-item({
    //-   svg: 'Ellipse.svg',
    //-   text: 'NEWS'
    //- })
    //- +navigation-item({
    //-   svg: 'Ellipse.svg',
    //-   text: 'CONTACT'
    //- })